[submodule "contrib/IlmBase-2.2.0"]
	path = contrib/IlmBase-2.2.0
	url = ../IlmBase.git
[submodule "contrib/OpenEXR-2.2.0"]
	path = contrib/OpenEXR-2.2.0
	url = ../openexr.git
[submodule "contrib/PyIlmBase-2.2.0"]
	path = contrib/PyIlmBase-2.2.0
	url = ../PyIlmBase.git
